/* #00AEEF   7035657292 Nilesh */
h3,
h4,
h5 {
	color: #00afef;
}

a {
	color: #00afef;
}

a:hover {
	color: #0abdff;
}

a:active {
	color: #009cd6;
}

.alternative-font {
	color: #00afef;
}

p.drop-caps:first-child:first-letter {
	color: #00afef;
}

p.drop-caps.secundary:first-child:first-letter {
	background-color: #00afef;
}

ul.nav-pills > li.active > a {
	background-color: #00afef;
}

ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
	background-color: #00afef;
}

.sort-source-wrapper .nav > li.active > a {
	color: #00afef;
}

.sort-source-wrapper .nav > li.active > a:hover,
.sort-source-wrapper .nav > li.active > a:focus {
	color: #00afef;
}
/* Labels */
.label-primary {
	background-color: #00afef;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #00afef;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #00afef;
	border-color: #00afef;
}

body.dark .pagination > li > a,
body.dark .pagination > li > span,
body.dark .pagination > li > a:hover,
body.dark .pagination > li > span:hover,
body.dark .pagination > li > a:focus,
body.dark .pagination > li > span:focus {
	color: #00afef;
}

body.dark .pagination > .active > a,
body.dark .pagination > .active > span,
body.dark .pagination > .active > a:hover,
body.dark .pagination > .active > span:hover,
body.dark .pagination > .active > a:focus,
body.dark .pagination > .active > span:focus {
	background-color: #00afef;
	border-color: #00afef;
}

.btn-primary,
.pagination > .active > a,
body.dark .pagination > .active > a,
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	border-color: #00afef !important;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #00afef;
	border-color: #00afef;
}

.btn-primary:hover,
.pagination > .active > a:hover,
body.dark .pagination > .active > a:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
	border-color: #0abdff;
	background-color: #0abdff;
}

.btn-primary:active,
.pagination > .active > a:active,
body.dark .pagination > .active > a:active,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:active,
.btn-primary:focus,
.pagination > .active > a:focus,
body.dark .pagination > .active > a:focus,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
	border-color: #009cd6;
	background-color: #009cd6;
}

.progress-bar-primary {
	background-color: #00afef;
}

.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #47a447;
	border-color: #47a447;
}

.btn-success:hover {
	border-color: #51b451;
	background-color: #51b451;
}

.btn-success:active,
.btn-success:focus {
	border-color: #3f923f;
	background-color: #3f923f;
}

.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ed9c28;
	border-color: #ed9c28;
}

.btn-warning:hover {
	border-color: #efa740;
	background-color: #efa740;
}

.btn-warning:active,
.btn-warning:focus {
	border-color: #e89113;
	background-color: #e89113;
}

.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d2322d;
	border-color: #d2322d;
}

.btn-danger:hover {
	border-color: #d64742;
	background-color: #d64742;
}

.btn-danger:active,
.btn-danger:focus {
	border-color: #bd2d29;
	background-color: #bd2d29;
}

.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:hover {
	border-color: #70c8e2;
	background-color: #70c8e2;
}

.btn-info:active,
.btn-info:focus {
	border-color: #46b8da;
	background-color: #46b8da;
}

.btn-dark {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #171717;
	border-color: #171717;
}

.btn-dark:hover {
	border-color: #242424;
	background-color: #242424;
}

.btn-dark:active,
.btn-dark:focus {
	border-color: #0a0a0a;
	background-color: #0a0a0a;
}

section.highlight {
	background-color: #00afef !important;
	border-color: #009cd6 !important;
}

section.page-top h1 {
	border-bottom-color: #00afef;
}

section.toggle label {
	color: #00afef;
	border-left-color: #00afef;
	border-right-color: #00afef;
}

section.toggle.active > label {
	background-color: #00afef;
	border-color: #00afef;
	color: #FFF;
}

section.page-top.custom-product {
	background-color: #009cd6;
	border-top-color: #00a8e5;
}

.feature-box .feature-box-icon {
	background-color: #00afef;
}

.feature-box.secundary .feature-box-icon i.fa {
	color: #00afef;
}

.thumb-info .thumb-info-type {
	background-color: #00afef;
}

.thumb-info .thumb-info-action-icon {
	background-color: #00afef;
}

.thumb-info-social-icons a {
	background-color: #00afef;
}

.thumbnail .zoom {
	background-color: #00afef;
}

.img-thumbnail .zoom {
	background-color: #00afef;
}

.inverted {
	background-color: #00afef;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #0099d0;
}

.tabs ul.nav-tabs a,
.tabs ul.nav-tabs a:hover {
	color: #00afef;
}

.tabs ul.nav-tabs a:hover,
.tabs ul.nav-tabs a:focus {
	border-top-color: #00afef;
}

.tabs ul.nav-tabs li.active a {
	border-top-color: #f15a29;
	color: #00afef;
}

.tabs ul.nav-tabs.nav-justified a:hover,
.tabs ul.nav-tabs.nav-justified a:focus {
	border-top-color: #f15a29;
}

.tabs.tabs-bottom ul.nav-tabs li a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a,
.tabs.tabs-bottom ul.nav-tabs li.active a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a:focus {
	border-bottom-color: #00afef;
}

.tabs.tabs-vertical.tabs-left ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:focus {
	border-left-color: #00afef;
}

.tabs.tabs-vertical.tabs-right ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:focus {
	border-right-color: #00afef;
}

ul.list.icons li i {
	color: #00afef;
}

i.icon-featured {
	background-color: #00afef;
}

.parallax blockquote i.fa-quote-left {
	color: #00afef;
}

section.video blockquote i.fa-quote-left {
	color: #00afef;
}

.panel-group .panel-heading a {
	color: #00afef;
}

.panel-group.secundary .panel-heading {
	background-color: #00afef !important;
}





blockquote.testimonial {
	background: #0abdff;
}

.testimonial-arrow-down {
	border-top-color: #0abdff;
}

.featured-box-secundary i.icon-featured {
	background-color: #00afef;
}

.featured-box-secundary h4 {
	color: #00afef;
}

.featured-box-secundary .box-content {
	border-top-color: #00afef;
}

.pricing-table .most-popular {
	border-color: #00afef;
}

.pricing-table .most-popular h3 {
	background-color: #00afef;
}

section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
	background: #00afef;
	box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #00afef;
}

ul.history li .featured-box .box-content {
	border-top-color: #00afef;
}

.recent-posts .date .month,
article.post .post-date .month {
	background-color: #00afef;
}

.recent-posts .date .day,
article.post .post-date .day {
	color: #00afef;
}

.slider .tp-bannertimer {
	background-color: #00afef;
}

.home-intro p em {
	color: #23c4ff;
}

.home-concept strong {
	color: #00afef;
}

.shop ul.products li.product .onsale {
	background-color: #00afef;
	border-bottom-color: #0091c6;
}

.shop .star-rating span,
.shop .cart-totals tr.total .amount {
	color: #00afef;
}

#footer .footer-ribbon {
	background: #00afef;
}

#footer .footer-ribbon:before {
	border-right-color: #0077a3;
	border-left-color: #0077a3;
}

#footer.light h1,
#footer.light h2,
#footer.light h3,
#footer.light h4,
#footer.light a {
	color: #00afef !important;
}

#footer.color {
	background: #00afef;
	border-top-color: #00afef;
}

#footer.color .footer-ribbon {
	background: #008abc;
}

#footer.color .footer-ribbon:before {
	border-right-color: #005270;
}

#footer.color .footer-copyright {
	background: #009cd6;
	border-top-color: #009cd6;
}

html.boxed .body {
	border-top-color: #00afef;
}

html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:focus {
	border-right-color: #00afef;
	border-left-color: transparent;
}

html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:hover,
html[dir="rtl"] .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:focus {
	border-right-color: transparent;
	border-left-color: #00afef;
}