/*
Name: 			theme.css
Written by: 	Okler Themes - (http://www.okler.net)
Version: 		3.7.0
*/
html {
  direction: ltr;
}
a {
  color: #00afef;
}
body {
  background-color: white;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

/* Responsive color: #777777;*/
@media (max-width: 479px) {
  body {
    font-size: 13px;
  }
}
/* Header */
#header {
  background: #f6f6f6;
  background: -webkit-linear-gradient(#f6f6f6, white);
  background: linear-gradient(#f6f6f6, white);
  clear: both;
  border-top: 5px solid #ededed;
  min-height: 100px;
  padding: 8px 0;
}

#header > .container {
  height: 100px;
  margin-bottom: -35px;
  position: relative;
  display: table;
  max-width: 1170px;
}

#header > .navbar-collapse > .container {
  position: relative;
}

#header .header-top {
  min-height: 50px;
}

#header .header-top form {
  margin: 0;
}

#header .header-top p {
  float: left;
  font-size: 0.9em;
  line-height: 50px;
  margin: 0;
}

#header .header-top i {
  margin-right: 6px;
  margin-left: 6px;
  position: relative;
  top: 1px;
}

#header .header-top nav {
  float: left;
  width: auto;
}

#header .header-top ul.nav-top {
  margin: 7px 0 0 -15px;
  min-height: 5px;
}

#header .header-top ul.nav-top li.phone {
  margin-right: 10px;
}

#header .header-top ul.nav-top li a {
  padding-left: 4px;
}

#header .social-icons {
  clear: right;
  float: right;
  margin-top: -3px;
  margin-left: 5px;
  position: relative;
}

#header .search {
  float: right;
  margin: 10px 0 0 15px;
  position: relative;
}



#header nav {
  float: right;
}

#header nav ul.nav-main {
  margin: -7px 10px 8px 0;
}

#header nav ul.nav-main > li + li {
  margin-left: -4px;
}

#header nav ul.nav-main li a {
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 13px;
}

#header nav ul.nav-main li a:hover {
  background-color: #f4f4f4;
}

#header nav ul.nav-main li ul a {
  text-transform: none;
  font-weight: normal;
  font-size: 0.9em;
}

#header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
  border-radius: 5px 5px 0px 0px;
  background-color: #ccc;
}

#header nav ul.nav-main li.dropdown:hover > a {
  padding-bottom: 11px;
  margin-bottom: -1px;
}

#header nav ul.nav-main li.dropdown:hover > ul {
  display: block;
}

#header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
  border-radius: 5px 5px 0px 0px;
}

#header nav ul.nav-main li.active a {
  background-color: #ccc;
}

#header nav ul.nav-main li a.dropdown-toggle.extra {
  display: none;
}

#header nav ul.nav-main ul.dropdown-menu {
  background-color: #ccc;
  border: 0;
  border-radius: 0 6px 6px 6px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
  margin: 1px 0 0 3px;
  padding: 5px;
  top: auto;
  text-align: left;
}

#header nav ul.nav-main ul.dropdown-menu li:hover > a {
  filter: none;
  background: #999;
}

#header nav ul.nav-main ul.dropdown-menu li:last-child > a {
  border-bottom: 0;
}

#header nav ul.nav-main ul.dropdown-menu > li > a {
  color: #fff;
  font-weight: 400;
  padding-bottom: 4px;
  padding-top: 4px;
  text-transform: none;
  position: relative;
  padding: 8px 10px 8px 5px;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
  border-radius: 6px;
  margin-left: 0;
  margin-top: -5px;
}



#header .nav-main-collapse {
  overflow-y: visible;
}

#header .nav-main-collapse.in {
  overflow-y: visible;
}



/* Logo */
#header .logo {
  -webkit-transition: all 0.2s ease-in 0.2s;
  -moz-transition: all 0.2s ease-in 0.2s;
  transition: all 0.2s ease-in 0.2s;
  margin: 0;
  padding: 5px 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: transparent;
}

#header .logo a {
  position: relative;
  z-index: 1;
}

#header .logo img {
  position: relative;
  color: transparent;
  margin-left: -80px;
}

/* Header Container */
/* .header-container {
  min-height: 76px;
  position: relative;
} */

/* Responsive Nav Button */
.btn-responsive-nav {
  display: none;
}

/* Sticky Menu */
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

body.sticky-menu-active #header {
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  top: -57px;
  width: 100%;
  z-index: 1001;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  filter: none;
}

body.sticky-menu-active #header .social-icons {
  margin-top: -1px;
}

body.sticky-menu-active #header nav ul.nav-main {
  margin-bottom: 7px;
  margin-top: -1px;
}

body.sticky-menu-active.always-sticky #header {
  top: 0;
}

body.sticky-menu-active.always-sticky #header nav ul.nav-main {
  margin: -7px 10px 8px 0;
}

body.sticky-menu-active.always-sticky #header .social-icons {
  margin-top: -3px;
}

body.scrolling .nav-main-collapse.collapsing {
  -webkit-transition: none;
  transition: none;
}



@media (min-width: 992px) {
  #header.flat-menu > .container {
    height: 91px;
    margin-bottom: -82px;
  }

  #header.flat-menu .header-top {
    margin-top: -8px;
  }

  #header.flat-menu .social-icons {
    margin: 11px 10px 9px 10px;
    margin: 10px 10px 0;
  }

  #header.flat-menu .search {
    margin-top: 8px;
  }

  #header.flat-menu .search form {
    margin: 0;
  }

  #header.flat-menu .search input.search-query {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  #header.flat-menu nav ul.nav-main {
    float: right;
    margin: -9px 0 -8px;
  }

  #header.flat-menu nav ul.nav-main > li > a {
    background: transparent;
    margin-bottom: 0;
    border-top: 5px solid transparent;
  }

  #header.flat-menu nav ul.nav-main li a {
    border-radius: 0;
    margin-left: 1px;
    margin-right: 3px;
    padding-bottom: 20px;
    padding-top: 46px;
  }

  #header.flat-menu nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
    border-radius: 0;
  }

  #header.flat-menu nav ul.nav-main li.dropdown:hover > a {
    padding-bottom: 21px;
  }

  #header.flat-menu nav ul.nav-main ul.dropdown-menu {
    margin: 0 0 0 1px;
    border-radius: 0;
  }

  #header.flat-menu nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
    border-radius: 0;
  }

  /* Header Flat Menu - Sticky Menu / Boxed */
  body.sticky-menu-active #header.flat-menu ul.nav-main {
    margin-bottom: -10px;
    margin-top: 34px;
  }

  body.sticky-menu-active #header.flat-menu ul.nav-main > li > a,
  body.sticky-menu-active #header.flat-menu ul.nav-main > li:hover > a {
    border-top-color: transparent;
    padding-bottom: 26px;
    padding-top: 26px;
  }

  body.sticky-menu-active #header.flat-menu .logo {
    padding-top: 15px;
  }

  body.sticky-menu-active #header.flat-menu .header-top {
    display: none;
  }

  
}
/* Header Single Menu */


/* Header Clean Top */
@media (min-width: 992px) {
  #header.clean-top .header-top {
    border-bottom: 1px solid #ededed;
    background-color: #f4f4f4;
    margin-top: -8px;
  }

  #header.clean-top .social-icons {
    margin: 11px 10px 9px 10px;
  }

  /* Header Clean Top - Sticky Menu / Boxed */
  body.sticky-menu-active #header.clean-top ul.nav-main > li > a,
  body.sticky-menu-active #header.clean-top ul.nav-main > li:hover > a {
    padding-bottom: 20px;
    padding-top: 33px;
  }
}
/* Header Colored */
@media (min-width: 992px) {
  #header.colored {
    border-top: 0;
  }

  /* #header.colored .header-top {
    background-color: #00afef;
  } */

  #header.colored > .container {
    height: 107px;
    margin-bottom: -92px;
  }

  #header.colored .header-top p,
  #header.colored .header-top a,
  #header.colored .header-top span {
    color: #fff;
  }

  #header.colored .search input.search-query {
    border: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
  }

  #header.colored nav ul.nav-main {
    margin: -25px 0 -8px;
  }

  #header.colored nav ul.nav-main li a {
    padding-bottom: 24px;
    padding-top: 50px;
  }

  #header.colored nav ul.nav-main li.dropdown:hover > a {
    padding-bottom: 24px;
  }

  /* Header Colored - Sticky Menu / Boxed */
  body.sticky-menu-active #header.colored .logo {
    padding-top: 6px;
  }

  body.sticky-menu-active #header.colored ul.nav-main > li > a,
  body.sticky-menu-active #header.colored ul.nav-main > li:hover > a {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}



@media (max-width: 991px) {
  body.sticky-menu-active #header.narrow .logo img {
    margin-top: 5px;
  }
}
/* Header Transparent */



/* Header Full-Width */
/* @media (min-width: 992px) {
  #header.full-width .container,
  #header.full-width > .container,
  #header.full-width > .navbar-collapse > .container {
    max-width: 100%;
    width: 100%;
  }
} */

/* @media (min-width: 992px) {
  #header.font-color-light nav.nav-main ul.nav-main > li.active > a,
  #header.font-color-light nav.nav-main ul.nav-main > li > a {
    color: #fff;
  }

  body.sticky-menu-active
    #header.font-color-light
    nav.nav-main
    ul.nav-main
    > li.active
    > a,
  body.sticky-menu-active
    #header.font-color-light
    nav.nav-main
    ul.nav-main
    > li
    > a {
    color: #777;
  }

  #header.font-color-dark nav.nav-main ul.nav-main > li.active > a,
  #header.font-color-dark nav.nav-main ul.nav-main > li > a {
    color: #444;
  }
} */
/* Responsive */
@media (max-width: 991px) {
  /* Header */
  #header {
    clear: both;
  }

  #header > .container {
    margin-bottom: 0;
  }

  #header .header-top,
  #header .social-icons,
  #header .search {
    display: none;
  }

  #header .nav-collapse {
    background: #171717;
    width: 100%;
    clear: both;
    width: 100%;
  }

  #header .nav-collapse .container .nav-main {
    float: left;
    width: 100%;
  }

  #header .nav-main-collapse {
    top: 8px;
    position: relative;
    background: #171717;
    max-height: none;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #header .nav-main-collapse.collapse {
    display: none !important;
  }

  #header .nav-main-collapse.in {
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block !important;
  }

  #header .nav-main {
    padding: 10px 0;
    clear: both;
    display: block;
    float: none;
    width: 100%;
  }

  #header .nav-main ul {
    padding: 0;
    margin: 0;
  }

  #header .nav-main ul li {
    padding: 0;
    margin: 0;
    clear: both;
    float: none;
    display: block;
    border-bottom: 1px solid #2a2a2a;
  }

  #header .nav-main ul li:last-child {
    border-bottom: none;
  }

  #header .nav-main ul ul {
    margin-left: 20px !important;
  }

  #header .nav-main ul.nav-main {
    float: none;
    position: static;
    margin: 8px 0;
    margin-right: -10px;
  }

  #header .nav-main ul.dropdown-menu {
    position: static;
    clear: both;
    float: none;
    display: none !important;
  }

  #header .nav-main li.resp-active > ul.dropdown-menu {
    display: block !important;
  }

  #header .nav-main li.dropdown a.dropdown-toggle.extra {
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 3px 0 -38px 0;
    z-index: 10;
    display: block;
  }

  #header .nav-main li a.dropdown-toggle.disabled .fa {
    display: none;
  }

  #header nav ul.nav-main > li + li {
    margin-left: 0;
  }

  #header nav ul.nav-main li a {
    color: #fff;
    clear: both;
    float: none;
    display: block;
    padding: 9px 8px !important;
    border: 0;
    border-top: 0;
    margin: 0;
  }

  #header nav ul.nav-main li a i.fa-angle-down {
    position: absolute;
    right: 5px;
    top: 10px;
  }

  #header nav ul.nav-main li.dropdown:hover > a {
    margin: 0;
    padding: 9px 8px !important;
  }

  #header nav ul.nav-main ul.dropdown-menu {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #header nav ul.nav-main ul.dropdown-menu li > a {
    padding: 9px 8px;
    border: 0;
    border-top: 0;
    margin: 0;
    border-bottom: none;
  }

  #header nav ul.nav-main ul.sub-menu {
    padding: 0;
    margin: 0 0 10px 0;
  }

  #header nav ul.nav-main .dropdown-submenu > a:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }

  #header nav ul.nav-main .dropdown-submenu:hover > a:after {
    border-left-color: transparent;
  }

  body #header nav ul.nav-main ul.dropdown-menu {
    background: none !important;
    background-color: transparent !important;
  }

  body #header nav ul.nav-main li.dropdown.open .dropdown-toggle,
  body #header nav ul.nav-main li a,
  body #header nav ul.nav-main li > a:hover,
  body #header nav ul.nav-main li.active a,
  body #header nav ul.nav-main li.dropdown:hover a {
    background: none !important;
    background-color: transparent !important;
  }

  body #header nav ul.nav-main ul.dropdown-menu li:hover > a,
  body #header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
    background: none !important;
    background-color: transparent !important;
  }

  body.sticky-menu-active #header .nav-main-collapse,
  #header.fixed .nav-main-collapse {
    max-height: 300px;
  }

  body.sticky-menu-active #header .nav-main-collapse.in,
  #header.fixed .nav-main-collapse.in {
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  body.sticky-menu-active #header .logo img,
  #header.fixed .logo img {
    margin-top: -12px;
  }

  /* Responsive Button Nav */
  .btn-responsive-nav {
    background: #171717;
    top: 55px;
    display: block;
    position: absolute;
    right: 20px;
    color: #fff;
    z-index: 1;
  }

  .btn-responsive-nav:hover,
  .btn-responsive-nav:active,
  .btn-responsive-nav:focus {
    color: #ccc;
    outline: none;
  }

  /* Logo */
  #header .logo img {
    max-width: 180px;
    max-height: none !important;
    height: auto !important;
    position: absolute;
    margin-top: -20px;
  }

  /* Nav Top */
  #header .header-top ul.nav-top {
    float: left;
    margin: 7px 0 0 -15px;
    min-height: 5px;
  }
}

@media (max-width: 767px) {
  
  #header {
    display: block;
  }

  #header > .container {
    width: 100%;
  }

  #header .social-icons {
    display: none;
  }

  #header nav ul.nav-top {
    float: right;
    margin-right: 0;
  }

  #header.center nav {
    width: auto;
  }

  /* Responsive Button Nav */
  .btn-responsive-nav {
    top: 28px;
  }

  body.sticky-menu-active .btn-responsive-nav {
    top: 60px;
  }
}

@media (max-width: 479px) {
  #header nav ul.nav-top,
  #header .header-top {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Header */
  #header nav ul.nav-top li {
    display: none;
  }

  #header nav ul.nav-top li .phone {
    display: block;
  }
}
/* Page Top */
.page-top {
  background-color: #f15a29;

  margin-bottom: 10px;
  min-height: 10px;
  padding: 0;
  padding: 7px 0;
  position: relative;
  text-align: left;
}

.page-top ul.breadcrumb {
  background: none;
  margin: -3px 0 0;
  padding: 0;
}

.page-top ul.breadcrumb > li {
  text-shadow: none;
}

.page-top h1 {
  border-bottom: 5px solid #ccc;
  color: #fff;
  display: inline-block;
  font-weight: 200;
  margin: 0 0 -25px;
  min-height: 37px;
  font-size: 2.6em;
  line-height: 46px;
  padding: 0 0 17px;
  position: relative;
}



@media (max-width: 991px) {
  #footer .phone {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  
  #footer .phone {
    font-size: 20px;
  }
}


ul.social-icons {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-icons li {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: url(../img/social-sprites.png);
  background-repeat: no-repeat;
  background-position: 0 100px;
  display: inline-block;
  margin: -1px 1px 5px 0;
  padding: 0;
  border-radius: 100%;
  overflow: visible;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

ul.social-icons li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

ul.social-icons li a:hover {
  text-decoration: none;
}

ul.social-icons li a i[class^="icon-"] {
  color: #444;
  font-style: 16px;
  position: relative;
  top: 3px;
}

ul.social-icons li a:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3),
    inset 0 0 10px rgba(0, 0, 0, 0.3);
}

ul.social-icons li[class] a {
  text-indent: -9999px;
}

ul.social-icons li:active,
ul.social-icons li a:active {
  border-radius: 100%;
}

/* Scroll to Top */
html .scroll-to-top {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #404040;
  border-radius: 7px 7px 0 0;
  bottom: 0px;
  color: #fff;
  display: block;
  height: 9px;
  opacity: 0;
  padding: 13px 10px 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  min-width: 49px;
  z-index: 1040;
}

html .scroll-to-top:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

html .scroll-to-top.visible {
  filter: alpha(opacity=75);
  opacity: 0.75;
}

html .scroll-to-top span {
  display: inline-block;
  padding: 0 5px;
}

html.ie11 .scroll-to-top {
  right: 25px;
}

/* Responsive */
@media (max-width: 991px) {
  html .scroll-to-top.hidden-mobile {
    display: none !important;
  }
}

/* Header-dropdown-color */
@media (min-width: 992px) {
  #header.single-menu nav ul.nav-main li.active > a {
    border-top: 5px solid #00afef;
  }

  #header.darken-top-border {
    border-top: 5px solid #009cd6 !important;
  }

  #header.colored .header-top {
    background-color: #00afef;
  }

  #header.colored .header-top ul.nav-top li a:hover {
    background-color: #0abdff !important;
  }

  #header.flat-menu nav ul.nav-main li > a,
  #header.flat-menu nav ul.nav-main li.active > a {
    /* color: #666;*/
    color: #000000;
  }

  #header.flat-menu nav ul.nav-main li.active > a {
    color: #00afef;
    background-color: transparent !important;
  }

  #header.flat-menu nav ul.nav-main li > a:hover,
  #header.flat-menu nav ul.nav-main li.dropdown:hover a {
    color: #fff;
    background-color: #00afef !important;
  }

  #header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
    border-top-color: #00afef;
  }
}

#header nav ul.nav-main ul.dropdown-menu,
#header nav ul.nav-main li.dropdown.open .dropdown-toggle,
#header nav ul.nav-main li.active a,
#header nav ul.nav-main li > a:hover,
#header nav ul.nav-main li.dropdown:hover a {
  color: #fff;
  background-color: #00afef !important;
}

#header nav ul.nav-main ul.dropdown-menu li:hover > a {
  background-color: #23c4ff !important;
}

#header nav ul.nav-main ul.dropdown-menu {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00afef;
  border-color: #00afef;
}

#header nav ul.nav-main ul.dropdown-menu:hover {
  border-color: #0abdff;
  background-color: #0abdff;
}

#header nav ul.nav-main ul.dropdown-menu:active,
#header nav ul.nav-main ul.dropdown-menu:focus {
  border-color: #009cd6;
  background-color: #009cd6;
}

#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
  background: none !important;
}

#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
  background: #0abdff !important;
}

#btn-primary {
  border-color: #00afef !important;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00afef;
  border-color: #00afef;
}
#btn-primary:hover {
  border-color: #0abdff;
  background-color: #0abdff;
}

/*================================================
   Footer Area CSS
   =================================================*/
#footer {
  background-image: linear-gradient(
    210deg,
    #00afef 0%,
    #02749e 100%
  ) !important;
  padding-top: 20px;
}
.footer-area {
  z-index: 0;
}
.copyright {
  border-top: 1px solid #ffffff33;
  padding: 20px 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.f-contact {
  color: #fff;
  line-height: 27px;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 13px;
}

.copyright a {
  color: #ffffff;
  font-weight: 700;
}
.ulink ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  /* text-transform: uppercase; */
  letter-spacing: -0.02em;
  /* line-height: 1.2em; */
  font-weight: 600;
  /* color: #fff; */
}
.ulink ul li a {
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}
.f-heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  padding-left: 0;
  margin-top: 15px;
  padding-bottom: 0px;
}
/*.nav>li>a {*/
/*    padding-left:10px!important;*/
/*    padding-right:10px!important;*/
/*}*/




/* #footer h4 {
  font-size: 15px;
  font-weight: 700;
} */
/*================================================
Footer Area CSS
=================================================*/

/* Custome-card-css */
.card {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
}
.card-body {
  padding: 15px 20px 20px 20px;
}
.card-body h4 {
  margin: 0px 0px 15px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  color: #535353;
  letter-spacing: 0.54px;
}
.card-body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 17px;
}
.common-text {
  font-size: 15px;
  font-weight: 400;
  color: #7d7d7d;
  line-height: 21px;
  text-align: left;
}

.card:hover {
  -webkit-transform: translateY(-10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 2px 2px #bcbcbc;
  background: #00afef;
}
.card:hover h4 {
  color: #fff;
}
.card:hover p {
  color: #fff;
}
